header
{
border: 2px solid black;
border-radius: 2px;
grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    margin: 5px;
}
h1
{
text-align: center;
}
aside
{
    display: flex;
    flex-direction: column; 
    text-align: center;
    border: 2px solid black;
    border-radius: 2px;
    margin: 5px;
}
main
{
   border: 2px solid black; 
   border-radius: 2px;
}
.artikel1
{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
}



div
{
    border-radius: 2px;
    border: 2px solid black;
    margin: 0.4rem;
}


h2
{
    text-align: center;

}
footer
{
    border: 2px solid black;
    border-radius: 2px;
    margin-top: 5px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
}
@media screen and (max-width:640px) 
{
 body
 {
    display: flex;
    flex-direction: column;

 }
}
@media screen and (min-width:641px)and (max-width:1007px)
{

    
    body
    {
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows:  100px 460px 100px;
        
    }
    aside
    {
        padding-top: 180px;
    }
}
@media screen and (min-width:1008px)
{
    body
    {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 2fr;
        grid-template-rows: 100px 200px 100px;
    }
    header
    {
        grid-column-start: 1;
        grid-column-end: 5;
    }
    aside
    {
        padding-top: 50px;
    }
    
    main
    {
        display: flex;
        flex-direction: row;
        grid-column-start: 2;
        grid-column-end:5 ;
    }
    footer
    {
        grid-column-start: 1;
        grid-column-end: 5;
    }
}