header
{
border: 2px solid black;

}
h1
{
text-align: center;
}
.Links
{
    display: flex;
    flex-direction: column; 
    text-align: center;
    border: 2px solid black;
    margin-top: 5px;
}
main
{
    border: 2px solid black;
}
div
{
    border: 2px solid black;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}
h2
{
    text-align: center;

}
footer
{
    border: 2px solid black;
    margin-top: 5px;
}
@media screen and (max-width:640px) 
{
 body
 {
    display: flex;
    flex-direction: column;
 }
}
@media screen and (min-width:641px)
{
    main
    {
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 2fr 2fr 2fr;
    }
}